* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background-color: rgb(182, 208, 148);
}
/*Navbar styling*/
header {
}
.navbar {
    position: fixed;
    background-color: rgba(46, 40, 54, 0.9);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.navbar-name {
    padding: 20px;
    color: white;
    font-size: 20px;
}
.navbar-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navbar-items > li {
    padding: 20px;
}
.navbar-item {
    font-weight: bold;
    color: white;
    transition: 0.2s ease;
}
.navbar-item:hover {
    color: rgb(225, 170, 125);
}
.dropdown {
    display: none;
}
